<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Clarity"
        tools:targetApi="31">
        <activity
            android:name=".ExpenseManagerActivity"
            android:exported="false" />
        <activity
            android:name=".SwotActivity"
            android:exported="false" />
        <activity
            android:name=".FullScreenImageActivity"
            android:exported="false"
            android:theme="@style/Theme.Clarity" /> <!-- Diary Page Activity -->
        <activity
            android:name=".DiaryPageActivity"
            android:exported="false" /> <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" /> <!-- Create Account Activity -->
        <activity
            android:name=".CreateAccountActivity"
            android:exported="false" /> <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TaskListActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".ToolsActivity" />
    </application>

</manifest>